---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import { getStories } from "../lib/api";

Astro.response.headers.set("Cache-Control", "s-maxage=30, max-age=30");

const page = parseInt(Astro.url.searchParams.get("page") || "1");
const stories = await getStories({ page });
---

<Layout title="Astro Hacker News">
  <ol>
    {
      stories.map((story, index) => {
        let host = "";
        try {
          host = new URL(story.url).host;
        } catch {
          host = "";
        }
        return (
          <li class="px-2 py-1 flex gap-0.5 items-baseline">
            <Title>{index + 1}.</Title>
            <div>
              <div class="flex gap-1 items-baseline">
                <a href={`${story.url}`} target="_blank">
                  {story.title}
                </a>
                {host && (
                  <a href="#" class="hover:underline">
                    <span class="text-stone-500 text-[4px]">({host})</span>
                  </a>
                )}
              </div>
              <div class="text-stone-500 text-[4px] flex items-center gap-1">
                <span>
                  {story.points} by {story.user}
                </span>
                <a href={`/${story.id}`} class="hover:underline">
                  {story.time_ago}
                </a>
                {" | "}
                <a href={`/${story.id}`} class="hover:underline">
                  {story.comments_count} comments
                </a>
              </div>
            </div>
          </li>
        );
      })
    }
  </ol>
  <div class="flex space-x-2 px-8">
    {page > 1 && <a href={`?page=${page - 1}`}>prev</a>}
    <a href={`?page=${page + 1}`}>next</a>
    <div>page: {page}</div>
  </div>
</Layout>
